@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.bg-light-mode {
  @apply transition-colors duration-500 bg-neutral-50 text-neutral-800;
}

.bg-dark-mode {
  @apply dark:bg-black dark:text-neutral-50;
}

.circular-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

/* lenis */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}
