@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-light-mode {
  @apply text-neutral-800 from-neutral-100 via-blue-100 from-50% via-90% to-neutral-50 bg-gradient-to-tr;
}

.bg-dark-mode {
  @apply dark:bg-gradient-to-tr dark:from-black dark:via-neutral-900 dark:from-40% dark:via-80% dark:to-black dark:text-neutral-50;
}

.circular-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

/* lenis */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}
